EXPO_PUBLIC_API_BASE_URL=https://svadba.kz/api
EXPO_PUBLIC_SHOW_TEST_LOGIN=0
INSTAGRAM_CLIENT_ID=
INSTAGRAM_CLIENT_SECRET=
INSTAGRAM_REDIRECT_URI=https://svadba.kz/api/instagram/callback
INSTAGRAM_SCOPE=instagram_business_basic
